h2,h4{
	font-family:"Rock Salt", cursive;
}
p,ul{
	font-family:"Shadows Into Light Two", monospace;
}
body{
	margin:0px;
}
.header{
	align-items:center;
	display:flex;
	background-color:black;
}
.menu{
	position:absolute;
	right:10px;
}
.main{
	background-image:linear-gradient(black, #F55B8A);
}
.name{
	text-align:center;
	color:#F55B8A;
}
.gallery{
	display:flex;
	align-items:center;
	flex-direction:column;
	flex-wrap:wrap;
	padding-top:10px;
	padding-bottom:10px;
}
@media(min-width:600px){
	.gallery{
		flex-direction:row;
		justify-content:center;
	}	
}
.groupSocialMedia{
	background-color:#F55B8A;
	float:left;
	text-align:center;
}
.groupSocialMedia .listGSM {
	list-style:none;
	margin:0px;
	padding:0px;
}
.groupSocialMedia .logo2 {
	width:50px;
}
.footer{
	float:right;
	position:relative;
	bottom:-380px;
}