*{
	margin:0px;
}
h2,h4{
	font-family:"Rock Salt", cursive;
}
p,ul{
	font-family:"Shadows Into Light Two", monospace;
}
.header{
	align-items:center;
	display:flex;
	background-color:black;
}
.menu{
	position:absolute;
	right:10px;
}
.main{
	background-image:linear-gradient(black, #F55B8A);
}
.name{
	text-align:center;
	color:#F55B8A;
}
.gallery{
	display:flex;
	align-items:center;
	flex-direction:column;
	flex-wrap:wrap;
	padding-top:10px;
	padding-bottom:10px;
}
@media(min-width:600px){
	.gallery{
		flex-direction:row;
		justify-content:center;
	}	
}
.logo3{
	width:50px;
}
.memberSM{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.footer{
	display:flex;
}
.socialMedia{
	display:flex;
	flex-direction:row;
	float:left;
}
.copyright{
	float:left;
}
@media(min-width:600px){
	.copyright{
		float:right;
	}
}